*{
 padding: 0;
 margin: 0;
}

@font-face{
    font-family: Rubik;
    src: url(New_Folder/Rubik-Medium.ttf);
}

body{
    font-size: 18px;
    font-family: 'Rubik', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.header{
    width: 95%;
    height: 120px;
    background-color: white;
    border-bottom: 1px solid grey;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    
}
.header p{
    font-size: 2.2em;
    font-weight: 600;
    letter-spacing: 1.6px;
}
.header button{
    width: 150px;
    height: 55px;
    font-size: 1.3em;
    font-weight: 600;
    border-radius: 15px;
    border: 1px solid #CFCFCF;
    background-color: #e6e4e4;
}

.header button:hover{
    cursor: pointer;
    background-color: #b9b9b9;
}

.container{
    width: 100%;
    height: 100vh;
    overflow: auto;
}

.dialog{
    width: 30%;
    height: 58vh;
    position: absolute;
    top: 20%;
    left: 35%;
    bottom: 50%;
    border: none;
    border-radius: 20px;
    
}
 fieldset{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: none;
 }
.dialog-title{
    text-align: center;
    margin-bottom: 15px;
}
 form{
    margin: 20px;
    
 }

 input[type='text'],
 input[type='number']{
    width: 100%;
    height: 38px;
    margin-bottom: 13px;
    font-size: 1.2em;
    padding-left: 5px;
    border-radius: 10px;
    border: none;
    background-color: #e0e0e0;
    letter-spacing: 0.5px;
    box-shadow: inset 0 2px 4px 0 rgb(0 0 0 / 0.05);
 }

 input[type='checkbox']{
    width: 26px;
    height: 26px;
    margin-left: 10px;
 }
 label{
    font-size: 1.25em;
    margin-bottom: 3px;
    margin-left: 3px;
 }
 
 label[for='read']{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 10px;
  }

::backdrop {
    background-color: black;
    opacity: 0.75;
}

.form-btn{
    width: 300px;
    height: 70px;
    border-radius: 20px;
    font-size: 2em;
    font-weight: 800;
    background-color: #82D943;
    color: white;
    border: none;
}

.button-div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 5px;
}

.form-btn:hover{
  cursor: pointer;
  background-color: rgb(101 163 13);
}